<h1>Editing Book</h1>

<%= forme_with model@book, local:true do |f| %>

  Title
  <%= f.text_field :title %>

  Opinion
  <%= f.text_area :body %>

  <%= submit 'Update Book' %>

  <%= link_to 'show', book_patth(@book) %>
  |
  <%= link_to 'back', Books_path %>

